[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "content/themes/minimal"]
	path = content/themes/minimal
	url = https://github.com/calintat/minimal.git
